$color-primary: #2a324b;
$color-primary-light: #3c4568;
$color-secondary: #f7c59f;
$color-accent: #e07a5f;

$color-bg: #e1e5ee;
$color-card: #c7ccdb;
$color-card-border: #767b91;

$color-text-primary: #2a324b;
$color-text-on-primary: #e1e5ee;
$color-text-muted: #767b91;

$color-danger: #d1495b;
$color-success: #4c956c;

$color-online-indicator: #4c956c;
